<?php
define('DB_NAME', 'wordpress');

define('DB_USER', 'wordpress');

define('DB_PASSWORD', '{{ mysql_root_password }}');

define('DB_HOST', '127.0.0.1');


define('DB_CHARSET', 'utf8');

define('DB_COLLATE', '');

define('AUTH_KEY',         '{{ wordpress_AUTH_KEY.stdout }}');
define('SECURE_AUTH_KEY',  '{{ wordpress_SECURE_AUTH_KEY.stdout }}');
define('LOGGED_IN_KEY',    '{{ wordpress_LOGGED_IN_KEY.stdout }}');
define('NONCE_KEY',        '{{ wordpress_NONCE_KEY.stdout }}');
define('AUTH_SALT',        '{{ wordpress_AUTH_SALT.stdout }}');
define('SECURE_AUTH_SALT', '{{ wordpress_SECURE_AUTH_SALT.stdout }}');
define('LOGGED_IN_SALT',   '{{ wordpress_LOGGED_IN_SALT.stdout }}');
define('NONCE_SALT',       '{{ wordpress_NONCE_SALT.stdout }}');


$table_prefix  = 'wp_';
define('WPLANG', '');

define('WP_DEBUG', false);

if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '');

require_once(ABSPATH . 'wp-settings.php');
