<?php
define('DB_NAME', 'wordpress');

define('DB_USER', 'wordpress');

define('DB_PASSWORD', 'foobarbaz');

{% for host in groups['tag_Group_MySQL'] %}
define('DB_HOST', '{{  ec2_mysql.instances[0].private_ip }}');
{% endfor %}



define('DB_CHARSET', 'utf8');

define('DB_COLLATE', '');

define('AUTH_KEY',         '94y&M@A19vFM!__xMpVlb859[w~x![X^b(j1+Js{+hPNQqTfNomfxOd@g@G');
define('SECURE_AUTH_KEY',  'NOY_RQ4zu4sA%TVWrUvu87zOYIjgvVSR5b-@{83HHJ7TmJ_JfUtK!NgJOgP');
define('LOGGED_IN_KEY',    ';[toWR-3,_YkOY.m3lS#Ui8u7k]O1Fnq`lcIl8WU,3]aeAiRO$gi$~k');
define('NONCE_KEY',        '29IVWd8p^-$TS}^] !XtH2dMi1wc lmRT85[lah&Nb^v&,I-t]9)#`MsLX)H2X');
define('AUTH_SALT',        'ok5Z)f-#i39-(`;~m{+)`e8%W-%KjR+lY4etyKg@Z;LRI$$aNX[1Nfr)8Mr0');
define('SECURE_AUTH_SALT', 'zqvSvfk,vP^g+aWWVq,N4~QaASfQrXr%m$dK~BhB6v(FB6]WS)(0QKXVT');
define('LOGGED_IN_SALT',   'Z$[Lp3_Q fV(Ec2Jpgt$3qYos{v.!MsOucjH[pwx)C[L[u7zqz2+gtOxdS3-');
define('NONCE_SALT',       'Mve.FE0TlV@31ctMhz]=,RZGlul!;G65`TW.AteGmprV&-K.v!}$rj64Xnt');


$table_prefix  = 'wp_'; 
define('WPLANG', '');

define('WP_DEBUG', false);

if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '');

require_once(ABSPATH . 'wp-settings.php');
